@page "/recherche"
@using Microsoft.AspNetCore.Components.Web

@using System.Linq.Expressions



<PageTitle>Recherche</PageTitle>
    <div class="form-group container-fluid h-100 w-100 d-flex align-items-center justify-content-center">
        <div class="row h-100 w-100 d-flex align-items-center justify-content-center">
            <div class="card w-75 h-75 d-flex justify-content-center p-0 m-0">

                <div class="card-header py-2 bg-vertFonce">
                    <h3 class="py-2 p-0 my-0 text-white titre-bold">Recherche</h3>
                </div>

                <div class="card-body border-vertFonce py-1">
                
                    <div class="ms-xl-3 ms-lg-3 py-2 d-flex align-items-center justify-content-evenly">
                        <div class="d-flex align-items-center flex-grow-1">
                            <input type="text" placeholder="Recherchez" class="form-control input-vert texte-light" @bind="searchBarValue"/>
                            <button class="btn bg-vert text-white me-2" type="button"><i class="bi bi-search"></i>
                            </button>
                        </div>    
                        <div class="filters border-vertFonce box-vert py-2 d-flex align-items-center justify-content-evenly flex-grow-1">
                            <div class="d-flex align-items-center">
                                <label class="texte-13medium vertFonce me-1"><i class="bi bi-check-circle me-1"></i>Acceptée</label>
                                <input type="checkbox" class="check-vert" @bind="acceptedFilter"/> 
                            </div>
                            <div class="d-flex align-items-center">
                                <label class="texte-13medium vertFonce me-1"><i class="bi bi-exclamation-circle me-1"></i>À réviser</label>
                                <input type="checkbox" class="check-vert" @bind="reviewFilter"/> 
                            </div>
                            <div class="d-flex align-items-center">
                                <label class="texte-13medium vertFonce me-1"><i class="bi bi-x-circle me-1"></i>Refusée</label>
                                <input type="checkbox" class="check-vert" @bind="refusedFilter"/>                
                            </div>
                            <div class="d-flex align-items-center">
                                <label class="texte-13medium vertFonce me-1"><i class="bi bi-dash-circle me-1"></i>En attente</label>
                                <input type="checkbox" class="check-vert" @bind="pendingFilter"/>                         
                            </div>
                        </div>
                    </div>         
            </div>

            <div class="card-footer bg-vertFonce d-flex justify-content-center">
                <button class="btn bg-vert text-white texte-medium ms-2" style="width: 200px;"><i class="bi bi-arrow-up-right-circle me-2"></i>Ouvrir les sélections</button>
            </div>
        </div>        
    </div>
</div>

@code 
{
    private bool acceptedFilter, reviewFilter, refusedFilter, pendingFilter;
    private bool categoryFilter, generalContractorFilter, specializedContractorFilter;
    private bool region01Filter, region02Filter;
    private bool troisRivieresFilter, champlainFilter;
   
    private string? searchBarValue;
 
    private List<Supplier> filteredSuppliers = new List<Supplier>(); 
  
        class Supplier
    {
        public string Name { get; set; }
        public string City { get; set; }
        public string Status { get; set; }
        public bool Selected { get; set; }
    }  
}





