@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@inject IJSRuntime _jsRuntime

<style>
    ul 
    {
        list-style-type: none;
    }
    li 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input[type="file"]::file-selector-button 
    {
        background-color: rgb(11, 35, 65);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .drag-drop-area 
    {
        border: 2px dashed rgb(11, 35, 65);
        background-color: rgb(0, 118, 213, 0.2);
        border-radius: 10px;
        padding: 50px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        max-width: 500px; 
    }
    .drag-drop-area:hover 
    {
        background-color: rgba(11, 35, 65, 0.132);
    }
    .dragging {
        background-color: #e9f5e9;
        border-color: #4CAF50;
    }
</style>

<PageTitle>Étape 6 Pièces jointes</PageTitle>
<EditForm Model="fileModel">
    <div class="card-header py-2 bg-bleuFonce">
        <h3 class="py-2 p-0 my-0 text-white titre-bold">Carte d'affaires et brochures</h3>
    </div>
        <div class="card-body py-1 border-bleuFonce d-flex justify-content-center">
            <div id="dropArea" class="drag-drop-area">
                <label for="fileInput">
                    <h4 class="texte-bold">Faites glisser et déposez les fichiers ici</h4>
                    <p class="texte-medium">ou cliquez pour sélectionner les fichiers</p>
                </label>
            </div>
            <InputFile id="fileInput" OnChange="HandleFileChange" multiple 
                    accept=".doc,.docx,.pdf,.xls,.xlsx,.jpg,.jpeg,.png" 
                    style="display: none;" />
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="d-flex justify-content-center p-2">
                <div class="col-xl-12 alert alert-danger alert-dismissible fade show m-1" role="alert">
                    @errorMessage
                    <button type="button" @onclick="ClearErrorMessage" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        }
        <div class="card-header py-2 bg-bleuFonce titre-bold">
            <h3 class="py-2 p-0 my-0 text-white">Fichiers téléversés (Total: @GetFormatSize())</h3>
        </div>

        <div class="card-body table-bleu table-responsive">
            <table class="table border-bleuFonce table-bordered my-0 mb-2">
                <thead>
                    <tr>
                        <th scope="col" class="col-1 texte-bold">Fichier</th>
                        <th scope="col" class="texte-bold">Nom</th>
                        <th scope="col" class="col-1 texte-bold">Taille</th>
                        <th scope="col" class="col-2 texte-bold">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in listFichiers)
                    {
                        <tr>
                            <th scope="row" class="texte-bold">@(listFichiers.IndexOf(file)+1)</th>
                            <td class="texte-light">@file.Name</td>
                            <td class="texte-light">@GetFormatSizeFile(file.Size)</td>
                            <td><button class="btn btn-danger texte-bold" type="button" @onclick="() => RemoveFile(file)"><i class="bi bi-trash"></i> Effacer</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</EditForm>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/dragdrop.js"></script>

@code{
    [Parameter]
    public Action<PiecesJointes>? AssignReference { get; set; }

    protected override void OnInitialized()
    {
        AssignReference?.Invoke(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(100);
            await _jsRuntime.InvokeVoidAsync("dragAndDrop.initialize", "dropArea", "fileInput");
        }
    }

    private List<IBrowserFile> listFichiers = new List<IBrowserFile>();
    private FichierModel fileModel = new FichierModel();
    public long sizeTotal { get; set; } = 0;
    public long MaxSize = 75;
    public string errorMessage = "";
    
    private class FichierModel 
    {  
        [FileExtensionsAttribute(Extensions = "doc,docx,pdf,xls,xlsx,jpg,jpeg,png", ErrorMessage = "Format de fichier non valide.")]
        public IBrowserFile? fichier { get; set; }
    }

    private void ClearErrorMessage() {
        errorMessage = "";
    }

    private string GetFormatSizeFile(long size)
    {
        if (size >= 1048576)
        {
            return $"{(size / 1048576.0):F2} MB";
        }
        else
        {
            return $"{(size / 1024.0):F2} KB";
        }
    }
 
    private string GetFormatSize()
    {
        if (sizeTotal >= 1048576) // 1 MB = 1048576 bytes (1 * 1024 * 1024)
        {
            return $"{(sizeTotal / 1048576.0):F2} MB / {MaxSize}MB";
        }
        else
        {
            return $"{(sizeTotal / 1024.0):F2} KB / {MaxSize}MB";
        }
    }

    private void CalculTotalSize()
    {
        sizeTotal = listFichiers.Sum(file => file.Size);
    }

    private void HandleFileChange(InputFileChangeEventArgs e)
    {
        var allowedExtensions = new[] { ".doc", ".docx", ".pdf", ".xls", ".xlsx", ".jpg", ".jpeg", ".png" };
        errorMessage = "";

        foreach (var file in e.GetMultipleFiles())
        {
            var fileExtension = Path.GetExtension(file.Name).ToLower();
            if (!allowedExtensions.Contains(fileExtension))
            {
                errorMessage = $"Le fichier {file.Name} a un format non valide.";
                Console.WriteLine(errorMessage);
                continue;
            }
            if (sizeTotal + file.Size <= MaxSize * 1024 * 1024)
            {
                if (!listFichiers.Any(f => f.Name == file.Name && f.Size == file.Size))
                {
                    listFichiers.Add(file);
                }
            }
            else
            {
                // Mettre le message d'erreur sur le forms
                errorMessage = $"Le fichier {file.Name} dépasse la taille maximale autorisée.";
                Console.WriteLine(errorMessage);
            }
        }
        CalculTotalSize();
    }
    private void RemoveFile(IBrowserFile file)
    {
        listFichiers.Remove(file);
        CalculTotalSize();
    }

    public bool ValidatePieceJointe()
    {
        bool isValid = true;
        errorMessage = "";
        foreach(var file in listFichiers)
        {
            var fileName = Path.GetFileName(file.Name);
            var fileSize = file.Size;
            var fileExtension = Path.GetExtension(fileName);
            Console.WriteLine($"Le fichier {fileName} a été upload. (Taille:{fileSize})");
        }

        /*
        // Ensure the folder exists
        var folderPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "{(idPERUser)}");
        Directory.CreateDirectory(folderPath);

        // Combine the folder path and the file name
        var filePath = Path.Combine(folderPath, uploadedFileName);

        // Open a stream for the uploaded file
        using (var fileStream = new FileStream(filePath, FileMode.Create))
        {
            // Save the file to a folder on the server
            await fichier.OpenReadStream(maxAllowedSize: 4096000).CopyToAsync(fileStream);

            // Reset the position of the stream to the beginning
            Stream StreamFile = fichier.OpenReadStream(maxAllowedSize: 4096000);

            // Instantiate ProfilePictureService with the folder path
            var profilePictureService = new ProfilePictureService(folderPath);

            // Pass the file stream to the UploadAndRenameProfilePicture method
            var profilePicturePath = await profilePictureService.UploadAndRenameProfilePicture(username, uploadedFileName, StreamFile);
            //[ERREUR]
            userData.ImagePath = profilePicturePath;

            // Instantiate UserService
            var userService = new UserService(userData);

            // Now you can update the user's profile in the database with the new profile picture path
            await userService.UpdateUserProfilePicture(username, profilePicturePath);
*/
        return isValid;
    }
    
/*
    public class ProfilePictureService
    {
        private readonly string _profilePicturesFolderPath;

        public ProfilePictureService(string profilePicturesFolderPath)
        {
            _profilePicturesFolderPath = profilePicturesFolderPath;
        }

        public async Task<string> UploadAndRenameProfilePicture(string username, string fileName, Stream fileStream)
        {
            // Ensure the folder exists
            Directory.CreateDirectory(_profilePicturesFolderPath);

            // Generate a unique file name based on the user's matricule
            string uniqueFileName = $"{username}_profile{Path.GetExtension(fileName)}";

            // Combine the folder path and the unique file name
            string filePath = Path.Combine(_profilePicturesFolderPath, uniqueFileName);

            string relativeFilePath = Path.Combine("profilepictures", uniqueFileName);
            return relativeFilePath; // Return the path where the file is saved
        }
    }
*/

    // path = wwwroot\profilepictures\ (nompicture)
}